apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-project-flask-deployment
  labels:
    app: devops-project-flask
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-project-flask
  template:
    metadata:
      labels:
        app: devops-project-flask
    spec:
      containers:
        - name: devops-project-flask
          image: ilianamiladinova/devops_project_flask:0.0.2
          ports:
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: /status
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /status
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10