apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops_project_flask-deployment
  labels:
    app: devops_project_flask
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops_project_flask
  template:
    metadata:
      labels:
        app: devops_project_flask
    spec:
      containers:
        - name: devops_project_flask
          image: ilianamiladinova/devops_project_flask:0.0.2
          ports:
            - containerPort: 5000
          readinessProbe:
            httpGet:
              path: /status
              port: 5000
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /status
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10