name: CI pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  flake8:
    name: Flake8
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: flake8 Lint
        uses: py-actions/flake8@v2

  build:
    name: Build and Test
    runs-on: ubuntu-latest
    needs: [ flake8 ]
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      
      - name: Install dependencies
        run:  |
          pip install pytest
          pip install -r src/requirements.txt

      - name: Run tests
        run: pytest
  
  security:
    name: SAST Scan
    runs-on: ubuntu-latest
    needs: [ build ]
    steps:
      - uses: actions/checkout@v4

      - name: Install Bandit
        run: pip install bandit
      
      - name: Run Bandit Scan
        run: bandit -r src --exit-zero
  
  docker:
    name: Build Docker Image
    runs-on: ubuntu-latest
    needs: [ security ]
    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: docker build -t ilianamiladinova/devops_project_flask:0.0.2 .
      
      - name: Push Docker Image
        run: docker push ilianamiladinova/devops_project_flask:0.0.2

  deploy:
    name: Deploy to Kubernetes
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - uses: actions/checkout@v4

      - name: Setup kubectl
        uses: azure/setup-kubectl@v4
        with:
          version: 'latest'

      - name: Configure kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBECONFIG_B64 }}" | base64 --decode > $HOME/.kube/config

      - name: Deploy manifests
        run: |
          kubectl apply -f k8s/
          kubectl rollout status deployment/devops-project-flask-deployment